__pycache__/
test.py
dataset/wavs/
dist/
*.egg-info/
.venv/
.task/
BACKEND-SELECTION.md
Taskfile.yml
benchmark.py
examples-backend.py
venv/
*soprano/
*germanSoprano/
*.wav
*.json
*.pth

inference.ipynb
soprano_factory.txt
wav_converter.py
dataset/dataset.zip

dataset/metadata.txt
RussianSoprano/model.safetensors
